.list {
    list-style-type: none;
    border-radius: 8px;
    height: 100%;
    left: 0;
    cursor: pointer;
    display: flex;
    z-index: 1;
    margin-top: 5px;
    
}


.listItem {
    width: 100%;
    z-index: 99999;
}
.selectText{
    
    margin-right: 8px;
}
.selectText::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:5px;
    bottom:5px;
    width: 80%;
    height: 2px;
    border-radius: 3px 3px 0px 0px;
    background-color: cyan;
  
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.selectText:hover:after{
    opacity: 1;
}


.color {
    color: #00f3bc;
}

